@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

:root {
  --bg-color: #ede8e2;
  --text-main-color: #0f0f10;
  --text-secondary-color: #6a7077;
  --text-teal: #005f60;
  --play-txt: "Playfair Display", serif;
  --inter-txt: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  box-sizing: border-box;
  background: #ede8e2;
}

a,
button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
}

.logo {
  font-family: var(--play-txt);
  font-size: clamp(2.2rem, 5vh + 1rem, 2.6rem);
}

.nav-menu a {
  font-family: var(--inter-txt);
  color: var(--text-secondary-color);
  transition: color .1s ease-in-out;
  font-size: clamp(.8rem, 1vw + .5rem, 1.1rem);

}

.nav {
  background: #ede8e2;
  padding: 0 3em;
  border-bottom: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(186, 182, 178, 0.3);
}

.nav-menu a:hover {
  color: var(--text-teal);
}

.hero-text {
  font-family: var(--play-txt);
  font-size: clamp(3rem, 7vw + 1rem, 7rem);
  line-height: 1;
}

.hero-btn {
  font-family: var(--inter-txt);
  background: var(--bg-color);
  color: var(--text-teal);
  transition: all .2s ease-in-out;
  font-size: clamp(1.2rem, 2vw + 1rem, 1.6rem);
  padding: .4em 1em;
}

.hero-btn:hover {
  background: var(--text-teal);
  color: var(--bg-color);
}

.footer {
  background: var(--text-main-color);
}

.abv h6 {
  color: var(--bg-color);
  font-size: clamp(1.2rem, 3vw + .2rem, 1.7rem);
  font-weight: 600;
  font-family: var(--inter-txt);
}

.abv .footer-logo {
  font-size: clamp(1.4rem, 3vw + .2rem, 1.8rem);
  font-weight: 600;
  font-family: var(--play-txt);
}

.abv a {
  transition: all .2s ease-in-out;
}

.abv a:hover {
  text-decoration: underline;
  color: #005f60;
}

.title-txt {
  font-size: clamp(1.2rem, 3vh + 1rem, 5rem);
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  font-weight: bold;
  font-family: var(--play-txt);
}

.title-txt-category {
  color: var(--text-main-color);
}

.sub-txt {
  font-size: clamp(.4rem, 1.2rem, 2rem);
  font-family: var(--inter-txt);
  color: var(--text-secondary-color);
}


.sub-link {
  font-size: clamp(.4rem, 1.2rem, 2rem);
  font-family: var(--inter-txt);
  color: var(--text-secondary-color);
}

.sub-link:hover {
  color: var(--text-teal);
}

.card-container {
  margin-top: 3vw;
  margin-bottom: 6vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  gap: 2rem;
}

.card {
  border-radius: 8px;
  transition: all .19s ease-in-out;
  height: auto;
  padding: 0.4em 0.4em;
  min-height: 26rem;
}

.card-txt {
  font-size: clamp(2rem, 3rem, 4rem);
  font-family: var(--play-txt);
  font-weight: bold;
}

.card-link {
  font-family: var(--play-txt);
  color: var(--bg-color);
  font-size: clamp(1rem, 1.2rem, 2rem);
  transition: all .19s ease-in-out;
}

.card:hover p {
  color: var(--text-teal);
}

.card:hover {
  scale: 101.8%;
}

.path-div {
  background-color: var(--text-teal);
}

.sub-link-path {
  font-size: clamp(.4rem, 1.2rem, 2rem);
  font-family: var(--inter-txt);
  color: var(--bg-color);
  opacity: 0.6;
}

.sub-link-path:hover {
  opacity: .8;
}

.title-txt-path {
  color: var(--bg-color);
  margin-top: 0.5em;
  margin-bottom: 0.6em;
}

.sub-txt-path {
  font-size: clamp(.4rem, 1.2rem, 2rem);
  font-family: var(--inter-txt);
  color: var(--bg-color);
  opacity: 0.6;
}

.card-path-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  padding: .4em .4em;
  background-color: #88b0ae3f;
  min-height: 26rem;
}

.card-title {
  font-size: clamp(1.8rem, 2.6rem, 4rem);
  font-family: var(--play-txt);
  text-align: center;
  font-weight: 600;
}

.card-btn{
  padding: .4em .8em;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .nav {
    padding: 0 1em;
  }

  .hero-btn {
    background: var(--text-teal);
    color: var(--bg-color);
    border: 0;
  }

  .hero-btn:hover {
    border: 2px solid #005f60;
  }

}