@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

:root {
  --bg-color: #ede8e2;
  --text-main-color: #0f0f10;
  --text-secondary-color: #6a7077;
  --text-teal: #005f60;
}

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

.logo {
  font-family: "Playfair Display", serif;
}

.nav-menu a {
  font-family: "Inter", sans-serif;
  color: var(--text-secondary-color);
  transition: color .1s ease-in-out;

}

.nav-menu a:hover {
  color: var(--text-teal);
}

.hero-text {
  font-family: "Playfair Display", serif;
}

.hero-btn {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
  color: var(--text-teal);
  transition: all .2s ease-in-out;
}

.hero-btn:hover {
  background: var(--text-teal);
  color: var(--bg-color);
}

.footer {
  background: var(--text-main-color);
}

.abv h6 {
  color: var(--bg-color);
  font-size: 3.9vh;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.abv .footer-logo {
  font-size: 4vh;
  font-family: "Playfair Display", serif;
}

.abv a {
  transition: all .2s ease-in-out;
}

.abv a:hover {
  text-decoration: underline;
  color: #005f60;
}

@media only screen and (max-width: 768px) {
  .hero-btn {
    background: var(--text-teal);
    color: var(--bg-color);
    border: 0;
  }

  .hero-btn:hover {
    border: 2px solid #005f60;
  }
}