@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

:root {
  --bg-color: #ede8e2;
  --text-main-color: #0f0f10;
  --text-secondary-color: #6a7077;
  --text-teal: #005f60;
  --play-txt: "Playfair Display", serif;
  --inter-txt: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  box-sizing: border-box;
  background: #ede8e2;
  min-height: 100%;
}

a,
button {
  cursor: pointer;
}

.logo {
  font-family: var(--play-txt);
}

.nav-menu a {
  font-family: var(--inter-txt);
  color: var(--text-secondary-color);
  transition: color .1s ease-in-out;

}

.nav {
  background: #ede8e2;
  border-bottom: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(186, 182, 178, 0.3);
}

.nav-menu a:hover {
  color: var(--text-teal);
}

.hero-text {
  font-family: var(--play-txt);
}

.hero-btn {
  font-family: var(--inter-txt);
  background: var(--bg-color);
  color: var(--text-teal);
  transition: all .2s ease-in-out;
}

.hero-btn:hover {
  background: var(--text-teal);
  color: var(--bg-color);
}

.footer {
  background: var(--text-main-color);
}

.abv h6 {
  color: var(--bg-color);
  font-size: 3.9vh;
  font-weight: 600;
  font-family: var(--inter-txt);
}

.abv .footer-logo {
  font-size: 4vh;
  font-family: var(--play-txt);
}

.abv a {
  transition: all .2s ease-in-out;
}

.abv a:hover {
  text-decoration: underline;
  color: #005f60;
}

.title-txt {
  font-size: 3vw;
  font-weight: bold;
  font-family: var(--play-txt);
  color: var(--text-main-color);
}

.sub-txt {
  font-size: 1.12vw;
  font-family: var(--inter-txt);
  color: var(--text-secondary-color);
}

.sub-link {
  font-size: 1.12vw;
  font-family: var(--inter-txt);
  color: var(--text-secondary-color);
}

.sub-link:hover {
  color: var(--text-teal);
}

.card-container {
  margin-top: 3vw;
  margin-bottom: 6vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  gap: 2rem;
}

.card {
  border-radius: 8px;
  transition: all .19s ease-in-out;
  height:auto;
}

.card-txt {
  font-size: 3vw;
  font-family: var(--play-txt);
  font-weight: bold;
}

.card-link {
  font-family: var(--play-txt);
  color: var(--bg-color);
  font-size: 1.2vw;
  transition: all .19s ease-in-out;
}

.card:hover p {
  color: var(--text-teal);
}

.card:hover {
  scale: 101.8%;
}

.path-div{
  background-color: var(--text-teal);
}

.sub-link-path {
  font-size: 1.12vw;
  font-family: var(--inter-txt);
  color: var(--bg-color);
  opacity: 0.6;
}

.sub-link-path:hover {
  opacity: .8;
}

.title-txt-path {
  font-size: 3vw;
  font-weight: bold;
  font-family: var(--play-txt);
  color: var(--bg-color);
}

.sub-txt-path {
  font-size: 1.12vw;
  font-family: var(--inter-txt);
  color: var(--bg-color);
  opacity: 0.6;
}
.card-path-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  padding: 4px 8px;
  background-color: #88b0ae3f;
  height: auto;
}

.card-title{
  font-family: var(--play-txt);
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .hero-btn {
    background: var(--text-teal);
    color: var(--bg-color);
    border: 0;
  }

  .hero-btn:hover {
    border: 2px solid #005f60;
  }

  .card-txt {
    font-size: 6vh;
  }

  .card-link {
    font-size: 2.6vh;
  }

  .title-txt {
    font-size: 5vh;
  }

  .sub-txt {
    font-size: 2.4vh;
  }

  .sub-link {
    font-size: 2.4vh;
  }

  .sub-link-path{
    font-size: 2.4vh;
  }

  .title-txt-path{
    font-size: 6vh;
  }

  .sub-txt-path{
    font-size: 2.4vh;
  }

  
}